<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

		<security:http use-expressions="true"  auto-config="true">
		<!-- <security:intercept-url pattern="/manageproducts**" access="hasRole('USER_ADMIN ')" />
		<security:intercept-url pattern="/suppliermanage**" access="hasRole('USER_ADMIN ')" /> -->
		
		
		<!-- access denied page -->
		<security:access-denied-handler error-page="/403" />
		<security:form-login 
			login-processing-url="/j_spring_security_check"
		    login-page="/login" 
		    default-target-url="/"
		    authentication-success-forward-url="/login_success" 
			authentication-failure-url="/login" 
			username-parameter="username"
			password-parameter="password" />
			
		<security:logout logout-success-url="/login?logout" />
		
		<security:csrf disabled="true"/>
	
	</security:http>


	<security:authentication-manager>
	  <security:authentication-provider>
	    <security:jdbc-user-service data-source-ref="datasource" 
	    users-by-username-query="select email,password,enabled from User where email=?" 
	    authorities-by-username-query="select email,role from User where email=?"/>
	  </security:authentication-provider>
	</security:authentication-manager>

</beans:beans>